.form-grid {
  display: grid;
  /* Automatically fits as many 200px+ columns as possible */
  /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
  grid-template-columns: repeat(3, 1fr);
  gap: 16px; /* Spacing between grid items */
  padding: 20px;
}

.form-group {
  display: flex;
  flex-direction: column; /* Stacks label on top of select */
}

.form-group label {
  margin-bottom: 8px; /* Space between label and select */
  font-weight: bold;
}

.form-group select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.span-all {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  grid-column: span 3;
}